/* Edit Profile */
.viewImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:130px;
    width:130px;
    border:1px solid #EAEBFC;
}
/* Add Fee Amount */
.add-less-btns{
    padding-top: 30px;
}
.add-remove-item{
    visibility: hidden;
}